name: Publish on NPM/JSR

on:
  push:
    branches: [main]
  release:
    types: [created]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Setup Repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          registry-url: 'https://registry.npmjs.org'

      - name: Publish on JSR
        if: github.event_name == 'release' && github.repository == 'RoSeal-Extension/Roblox-DeepLink-Parser'
        run: bunx jsr publish --allow-slow-types --allow-dirty

      - name: Publish on NPM
        if: github.event_name == 'release' && github.repository == 'RoSeal-Extension/Roblox-DeepLink-Parser'
        run: bun publish
      