name: Publish on NPM/JSR

permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [main]
  release:
    types: [created]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Setup Repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Publish on NPM
        if: github.event_name == 'release' && github.repository == 'RoSeal-Extension/Roblox-DeepLink-Parser'
        run: rm -f .npmrc; NODE_AUTH_TOKEN="" npm publish --access public --provenance
        
      - name: Publish on JSR
        if: github.event_name == 'release' && github.repository == 'RoSeal-Extension/Roblox-DeepLink-Parser'
        run: bunx jsr publish --allow-slow-types --allow-dirty
      